@if( Cell.Input.Value != 0 )
{
    <div class="cell input @GivenClass @Filter()"
         style="@Border"
         @onclick="OnClickCallback">
        <div class="value @InputIsIllegalClass">
            @Cell.Input.Value
        </div>
    </div>
}
else
{
    <div class="cell candidates @Filter()"
         style="@Border"
         @onclick="OnClickCallback"
         @oncontextmenu="OnRightClickCallback">
        @for( int value = 1; value < 10; value++ )
        {
            <div class="candidate">
                @{
                    if( Cell.Candidates.ContainsKey(value) )
                    {
                        var isIllegalClass = Cell.Candidates[value].IsLegal ? "" : "illegalInput";
                        <div class="value @isIllegalClass">
                            @value
                        </div>
                    }
                    else
                    {
                        <div class="value">

                        </div>
                    }
                }
            </div>
        }
    </div>
}
@code {
    [Parameter]
    public Action OnClickCallback { get; set; }

    [Parameter]
    public Action OnRightClickCallback { get; set; }

    [Parameter]
    public ICell Cell { get; set; }


    private string GivenClass { get => Cell.IsGiven ? "given " : ""; }

    protected override void OnInitialized()
    {
        InitBorder();
    }

    private string Border { get; set; }

    private string InputIsIllegalClass { get => Cell.Input.IsLegal ? "" : "illegalInput"; }

    [Parameter]
    public Func<string> Filter { get; set; }


    private void InitBorder()
    {
        var borders = new[]
            {
                ("top", Cell.Y == 3 || Cell.Y == 6),
                ("right", Cell.X == 2 || Cell.X == 5),
                ("bottom",  Cell.Y == 2 || Cell.Y == 5),
                ("left", Cell.X == 3 || Cell.X == 6),
            };

        var bordersStyles = borders.Select(item => $"border-{item.Item1}-width: {(item.Item2 ? "0.10rem" : "0.05rem")};");
        Border = String.Join(" ", bordersStyles);
    }

}
