
<div class="menu">
    <a @onclick="FillAllCandidates">Find candidates</a>
    <div class="dropdown">
        <button class="dropbtn">Copy</button>
        
        <div class="dropdown-content">
            <a @onclick="CopyAll">All</a>
            <a @onclick="CopyInput">Inputs without candidates</a>
            <a @onclick="CopyGivens">Only Givens</a>
        </div>
    </div>

    <div class="dropdown">
        <button class="dropbtn">New game</button>
        <div class="dropdown-content">
            <a @onclick="@(() => StartNewGame("Easy"))">Easy</a>
            <a @onclick="@(() => StartNewGame("Medium"))">Medium</a>
            <a @onclick="@(() => StartNewGame("Hard"))">Hard</a>
            <a @onclick="@(() => StartNewGame("Unfair"))">Unfair</a>
            <a @onclick="@(() => StartNewGame("Extreme"))">Extreme</a>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Func<string, Task> StartNewGame { get; set; }

    [Parameter]
    public Func<Task> CopyAll { get; set; }

    [Parameter]
    public Func<Task> CopyInput { get; set; }

    [Parameter]
    public Func<Task> CopyGivens { get; set; }

    [Parameter]
    public Action FillAllCandidates { get; set; }
}