@inject IJSRuntime JSRuntime
@inject StartNewGameFromPastedCommand StartNewGameFromPastedCommand
@inject ShowPreviousModalCommand ShowPreviousModalCommand
@inject ILanguageContainerService LanguageContainer
@inject DomainFacade DomainFacade

<ModalWithGridTemplateComponent>
    <Content>
        <h1 class="paste__header with-hr">@LanguageContainer.Keys["paste__header"]</h1>
        <textarea class="paste__input @_validClass"
                  @bind="@DomainFacade.Pasted" @bind:event="oninput"></textarea>

        <div class="paste__row">
            <div class="paste__close"
                 @onclick="StartNewGameFromPastedCommand.Execute">@LanguageContainer.Keys["paste__start-game"]</div>
        </div>

        <div class="paste__row">
            <div class="paste__close"
                 @onclick="ShowPreviousModalCommand.Execute">@LanguageContainer.Keys["modal__close"]</div>
        </div>
    </Content>
</ModalWithGridTemplateComponent>

@code {
    private string _validClass => DomainFacade.PastedIsValid ? String.Empty : "paste__input--is-invalid";
}
