@inject IJSRuntime JSRuntime
@inject CommandProvider CommandProvider
@inject ShareProvider ShareProvider  
@inject NavigationManager NavigationManager

<div class="share">
    <div class="share__numpad-area">
        <div class="share__container">
            <span class="share__label">What to share?</span>
            <div class="share__row">
                <div class="share__button @_onlyGivenClass"
                     @onclick="@(() => ShareProvider.SharedFields = Enums.SharedFields.Givens)">Only givens</div>
                <div class="share__button @_givensAndUserInputsClass"
                     @onclick="@(() => ShareProvider.SharedFields = Enums.SharedFields.GivensAndInputs)">Givens & user inputs</div>
            </div>

            <span class="share__label">What format to use?</span>
            <div class="share__row">
                <div class="share__button"
                     @onclick="@(() => ShareProvider.SharedConverter = Enums.SharedConverter.Hodoku)">Hodoku</div>
                <div class="share__button"
                     @onclick="@(() => ShareProvider.SharedConverter = Enums.SharedConverter.MyFormat)">My format</div>
                <div class="share__button"
                     @onclick="@(() => ShareProvider.SharedConverter = Enums.SharedConverter.MyLink)">Get link</div>
            </div>

            <input type="text"
                   value="@ShareProvider.Converted"
                   id="share__output"
                      class="share__output" />
            <div class="share__row">
                <div class="share__button"
                     @onclick=SelectOutput>Select</div>
                <div class="share__button"
                     @onclick="CommandProvider.CloseModal().Execute">Close</div>
            </div>
        </div>
    </div>
</div>

@code {
    private string _onlyGivenClass
    {
        get => ShareProvider.SharedFields == Enums.SharedFields.Givens ? _selectedClass : string.Empty;
    }

    private string _givensAndUserInputsClass
    {
        get => ShareProvider.SharedFields == Enums.SharedFields.GivensAndInputs ? _selectedClass : string.Empty;
    }
    private string _selectedClass { get => "share__button--selected"; }

    protected override void OnInitialized()
    {
        ShareProvider.OnChanged += Update;
    }

    private void Update()
    {
        StateHasChanged();
        Task.Run(()=> SelectOutput());
    }

    private async Task SelectOutput()
    {
        await JSRuntime.InvokeVoidAsync("select", "share__output");
    }
}