@inject IJSRuntime JSRuntime
@inject ShowPreviousModalCommand ShowPreviousModalCommand
@inject ShareProvider ShareProvider
@inject NavigationManager NavigationManager
@inject ILanguageContainerService Loc

<ModalWithGridTemplateComponent>
    <Content>
        <h1 class="share__header with-hr">@Loc.Keys["share__header"]</h1>
        <div class="share__radio">
            <span class="share__label">@Loc.Keys["share__fields-header"]</span>
            <div class="share__option @FieldClass(Enums.SharedFields.Givens)"
                 @onclick="@(() => ShareProvider.SharedFields = Enums.SharedFields.Givens)">@Loc.Keys["share__givens-only"]</div>
            <div class="share__option @FieldClass(Enums.SharedFields.GivensAndInputs)"
                 @onclick="@(() => ShareProvider.SharedFields = Enums.SharedFields.GivensAndInputs)">@Loc.Keys["share__givens-and-inputs"]</div>
            <div class="share__option @FieldClass(Enums.SharedFields.Everything)"
                 @onclick="@(() => ShareProvider.SharedFields = Enums.SharedFields.Everything)">@Loc.Keys["share__everything"]</div>
        </div>

        <div class="share__radio">
            <span class="share__label">@Loc.Keys["share__format-header"]</span>
            <div class="share__option @FormatClass(Enums.SharedConverter.Hodoku)"
                 @onclick="@(() => ShareProvider.SharedConverter = Enums.SharedConverter.Hodoku)">@Loc.Keys["share__hodoku"]</div>
            <div class="share__option @FormatClass(Enums.SharedConverter.MyFormat)"
                 @onclick="@(() => ShareProvider.SharedConverter = Enums.SharedConverter.MyFormat)">@Loc.Keys["share__my-format"]</div>
            <div class="share__option @FormatClass(Enums.SharedConverter.MyLink)"
                 @onclick="@(() => ShareProvider.SharedConverter = Enums.SharedConverter.MyLink)">@Loc.Keys["share__link"]</div>
        </div>

        <input type="text"
               value="@ShareProvider.Converted"
               id="share__output"
               class="share__output" />
        <div class="share__row">
            <div class="share__close"
                 @onclick="ShowPreviousModalCommand.Execute">@Loc.Keys["modal__close"]</div>
        </div>
    </Content>
</ModalWithGridTemplateComponent>

@code {
    private string _onlyGivenClass
    {
        get => ShareProvider.SharedFields == Enums.SharedFields.Givens ? _selectedClass : string.Empty;
    }

    private string _givensAndUserInputsClass
    {
        get => ShareProvider.SharedFields == Enums.SharedFields.GivensAndInputs ? _selectedClass : string.Empty;
    }
    private string _selectedClass { get => "share__button--selected"; }

    protected override void OnInitialized()
    {
        ShareProvider.OnChanged += Update;
    }

    private void Update()
    {
        StateHasChanged();
        Task.Run(() => SelectOutput());
    }

    private async Task SelectOutput()
    {
        await JSRuntime.InvokeVoidAsync("select", "share__output");
    }

    private string FormatClass(Enums.SharedConverter sharedConverter)
    {
        return ShareProvider.SharedConverter == sharedConverter ? "share__option--selected" : string.Empty;
    }

    private string FieldClass(Enums.SharedFields sharedFields)
    {
        return ShareProvider.SharedFields == sharedFields ? "share__option--selected" : string.Empty;
    }
}