@using Weboku.Application
@using Weboku.Application.Enums
@using Weboku.UserInterface.Providers
@inject ILanguageContainerService LanguageContainer
@inject DomainFacade DomainFacade
@inject ModalProvider ModalProvider

<ModalTemplateComponent>
    <div class="text-center">
        <h1 class="modal__title with-hr">@LanguageContainer.Keys["end-game__header"]</h1>
        <span class="modal__subtitle">@LanguageContainer.Keys["end-game__congratulations"]</span>
    </div>

    <div class="modal__content">
        <div class="modal__result-row">
            <span class="modal__result-label">@LanguageContainer.Keys["end-game__time"]</span>
            <span class="modal__result-value">@DomainFacade.Elapsed.ToString("mm\\:ss")</span>
        </div>
        <div class="modal__result-row">
            <span class="modal__result-label">@LanguageContainer.Keys["end-game__difficulty"]</span>
            <span class="modal__result-value">@DomainFacade.Difficulty</span>
        </div>
    </div>

    <div class="modal__footer with-hr">
        <ModalButtonComponent Action="() => ModalProvider.SetModalState(ModalState.MainMenu)" IsSecondary="true">@LanguageContainer.Keys["modal__close"]
        </ModalButtonComponent>
    </div>
</ModalTemplateComponent>

@code {

}
