@using Weboku.UserInterface.Commands
@using Weboku.UserInterface.Providers
@using Weboku.Application
@inject DomainFacade ModalProvider
@inject ILanguageContainerService Loc

<ModalTemplateComponent>
    <div class="text-center">
        <h1 class="modal__title with-hr">@Loc.Keys["how-to-play__header"]</h1>
        <span class="modal__subtitle"></span>
    </div>

    <div class="modal__content">
        <p class="modal__text">
            @Loc.Keys["how-to-play__p1"]
        </p>
        <p class="modal__text">
            @Loc.Keys["how-to-play__p2"]
        </p>
        <p class="modal__text">
            @Loc.Keys["how-to-play__p3"]
        </p>
    </div>

    <div class="modal__footer with-hr">
        <ModalButtonComponent Action="() => ModalProvider.GoToPreviousModalState()" IsSecondary="true">@Loc.Keys["modal__close"]
        </ModalButtonComponent>
    </div>
</ModalTemplateComponent>

@code {
}
