@using Weboku.UserInterface.Providers
@using Weboku.Core.Data
@using Weboku.Application.Enums
@using Weboku.Application
@inject CommandProvider CommandProvider
@inject DomainFacade ModalProvider
@inject DomainFacade DomainFacade
@inject ILanguageContainerService Loc
@inject SettingsProvider SettingsProvider

<ModalTemplateComponent>
    <h1 class="modal__title with-hr">@Loc.Keys["new-game__header"]</h1>

    <div class="modal__content">

        <div class="modal-new-game__select-diffculty-container">
            <div class="modal-new-game__select-difficulty-header">@Loc.Keys["new-game__choose-difficulty"]</div>
            <div class="modal-new-game__select-difficulty">
                @if( IsEasierAvailable )
                {
                    <i class="fas fa-chevron-left" @onclick="SelectEasier"></i>
                }
                else
                {
                    <i></i>
                }
                <span class="modal-new-game__selected-difficulty">@(Loc.Keys[$"difficulty__{SelectedDifficulty}"])</span>
                @if( IsHarderAvailable )
                {
                    <i class="fas fa-chevron-right" @onclick="SelectHarder"></i>
                }
                else
                {
                    <i></i>
                }

            </div>

            <ModalButtonComponent AsyncAction="StartNewGame">
                @Loc.Keys["new-game__new-game"]
            </ModalButtonComponent>

        </div>

        <ModalButtonComponent Action="() => ModalProvider.SetModalState(ModalState.CustomSudoku)"> @Loc.Keys["new-game__custom-game"] </ModalButtonComponent>
    </div>

    <div class="modal__footer with-hr">
        <ModalButtonComponent Action="() => ModalProvider.GoToPreviousModalState()" IsSecondary="true">@Loc.Keys["modal__close"]</ModalButtonComponent>
    </div>
</ModalTemplateComponent>

@code {

    private string[] _difficulties = new[] { "Easy", "Medium", "Hard", "Extreme", "Unfair" };

    protected override void OnInitialized()
    {
        SettingsProvider.OnChanged += StateHasChanged;
        _index = 0;
    }

    private int _index = 0;

    private bool IsEasierAvailable => _index > 0;
    private bool IsHarderAvailable => _index + 1 < _difficulties.Length;

    private void SelectHarder() => _index += 1;
    private void SelectEasier() => _index -= 1;

    private string SelectedDifficulty => _difficulties[_index];

    private Task StartNewGame()
    {
        var difficulty = (Difficulty) Enum.Parse(typeof(Difficulty), SelectedDifficulty);
        return DomainFacade.StartNewGame(difficulty);
    }

}