@inject NumpadMenuBuilder NumpadMenuBuilder
@inject ISudokuProvider SudokuProvider
@inject NumpadMenuProvider NumpadMenuProvider 

    <div class="numpad">
        <div class="numpad__empty-row"></div>

        @foreach( var item in _menuLabels )
        {
            var bound = item;
            <div @onclick="@((e) => OnClick(bound))"
                 class="numpad__label
                 @(bound == NumpadMenuProvider.SelectedItem ? "numpad__label--highlighted" : "") 
                 @(@bound.IsDimmed ? "numpad__label--dimmed" : "")
                 ">
                @item.Label
            </div>
        }

        <div @onclick="@((e) => NumpadMenuBuilder.ClearColors().Execute())"
             class="numpad__label numpad__clear-colors">
            Clear colors
        </div>
        
        @foreach( var item in _selectColorMenuItems )
        {
            var bound = item;
            <div @onclick="@((e) => OnClick(bound))"
                 class="numpad__color">
                <div class="@item.CssClass">
                </div>
            </div>
        }
    </div>

@code {

    private IList<INumpadMenuLabel> _menuLabels;
    private IList<ISelectColorMenuItem> _selectColorMenuItems;

    private void OnClick(INumpadMenuItem clicked)
    {
        clicked.Execute();
    }

    protected override void OnInitialized()
    {
        SudokuProvider.OnChanged += StateHasChanged;
        NumpadMenuProvider.OnChanged += StateHasChanged;

        _menuLabels = new INumpadMenuLabel[]
{
            NumpadMenuBuilder.Undo(),
            NumpadMenuBuilder.SelectValue(1),
            NumpadMenuBuilder.SelectValue(2),
            NumpadMenuBuilder.SelectValue(3),

            NumpadMenuBuilder.Redo(),
            NumpadMenuBuilder.SelectValue(4),
            NumpadMenuBuilder.SelectValue(5),
            NumpadMenuBuilder.SelectValue(6),

            NumpadMenuBuilder.SelectErase(),
            NumpadMenuBuilder.SelectValue(7),
            NumpadMenuBuilder.SelectValue(8),
            NumpadMenuBuilder.SelectValue(9),

            NumpadMenuBuilder.Pairs(),
            NumpadMenuBuilder.PlaceHolder(),
};

        _selectColorMenuItems = new ISelectColorMenuItem[]
        {
            NumpadMenuBuilder.SelectColor(Enums.CellColor.First),
            NumpadMenuBuilder.SelectColor(Enums.CellColor.Second),
            NumpadMenuBuilder.SelectColor(Enums.CellColor.Third),
            NumpadMenuBuilder.SelectColor(Enums.CellColor.Fourth),
        };


        NumpadMenuProvider.SelectItem(_menuLabels[1]);
    }

}
